*~
*.log
*.egg-info
/__pycache__/
/**/__pycache__
/**/.mypy_cache/
/**/data/2D/scale/model_predictive.osim
/**/data/3D/scale/model_predictive.osim
/env/example.sto
/env/ppo_agent.zip
/**/simulation_Kinematics_dudt.sto
/**/simulation_Kinematics_q.sto
/**/simulation_Kinematics_u.sto
/**/simulation_States.sto
/**/simulation_ForceReporter_forces.sto
/**/**/*.json
/**/*.pdf
/**/*.sto
/**/events*
/.vscode/
/results/**