absl-py==1.0.0
aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==1.3.1
astor==0.8.1
astunparse==1.6.3
async-timeout==3.0.1
attrs==21.2.0
blessings==1.7
blurhash==1.1.4
cached-property==1.5.2
cachetools==4.1.1
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.7
chex==0.0.8
click==8.0.3
cloudpickle==2.0.0
colorama==0.4.4
colorful==0.5.4
contextlib2==21.6.0
contextvars==2.4
cycler==0.11.0
Cython==0.29.24
dataclasses==0.8
decorator==4.4.2
dm-sonnet==1.23
fasteners==0.16.3
filelock==3.3.1
flatbuffers==2.0
flatten-dict==0.4.2
flax==0.3.4
future==0.18.2
gast==0.3.3
gitdb==4.0.5
glfw==2.4.0
google-api-core==1.27.0
google-auth==1.22.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.53.0
gpustat==0.6.0
grpcio==1.32.0
gym==0.21.0
h5py==2.10.0
hiredis==2.0.0
idna==3.3
idna-ssl==1.1.0
imageio==2.10.4
imageio-ffmpeg==0.4.5
immutables==0.16
importlib-metadata==4.8.2
itsdangerous==1.1.0
jax==0.2.17
jaxlib==0.1.69
Jinja2==2.11.3
joblib==0.17.0
jsonschema==3.2.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lockfile==0.12.2
lxml==4.6.4
lz4==3.1.3
Markdown==3.3
MarkupSafe==1.1.1
Mastodon.py==1.5.1
matplotlib==3.3.4
ml-collections==0.1.0
msgpack==1.0.2
multidict==5.2.0
mypy-extensions==0.4.3
networkx==2.5.1
numpy==1.18.5
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
opencensus==0.8.0
opencensus-context==0.1.2
opencv-python==4.4.0.44
opencv-python-headless==4.3.0.36
opt-einsum==3.3.0
optax==0.0.9
packaging==21.0
pandas==1.1.5
pathlib2==2.3.5
Pillow==8.4.0
prometheus-client==0.11.0
protobuf==3.19.1
psutil==5.8.0
py-spy==0.3.10
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.8.2
pyglet==1.5.0
PyOpenGL==3.1.5
pyparsing==3.0.6
pyrsistent==0.18.0
python-dateutil==2.8.2
python-magic==0.4.22
pytz==2020.1
PyWavelets==1.1.1
PyYAML==6.0
ray==1.8.0
redis==3.5.3
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.6
scikit-image==0.17.2
scipy==1.4.1
semantic-version==2.3.0
six==1.16.0
smmap==3.0.5
SQLAlchemy==1.3.23
tabulate==0.8.9
tensorboard==2.2.2
tensorboard-plugin-wit==1.7.0
tensorboardX==2.1
tensorflow-estimator==2.2.0
tensorflow-probability==0.14.1
termcolor==1.1.0
tifffile==2020.9.3
toolz==0.11.2
torch==1.8.1
tqdm==4.62.3
typed-ast==1.4.2
typing-extensions==3.10.0.2
urllib3==1.26.7
Werkzeug==1.0.1
wrapt==1.12.1
yarl==1.7.0
zipp==3.3.0